<!--
Renderiza o balão cinza com a área de texto de responder.

Variáveis locais:
klass: classe adicional a ser adicionada no wrapper.
array_for_url: array com os objetos necessários para montar a url
(o último sempre será o objeto do form).


precisa saber o ID do autor, o id do app, o id do comment
%>-->

<form method="POST" action="" enctype="multipart/form-data" class="status-tab status-list create-response tab-right">
    <input type="hidden" name="kind" value="Common">
    <input type="hidden" name="author" value="current_user.id">
    <textarea name="body" rows="6"></textarea>
    <ul class="status-buttons">
        <li>
            <button type="button" class="button-default cancel">Cancelar</button>
        </li>
        <li>
            <input type="submit" value="Enviar" class="button-primary"/>
        </li>
    </ul>
</form>
