<form method="POST" action="#" class="header-sign-in-form" id="sign-in-form">

    <div class="control-group">
        <div class="control-label">
            <label>Login ou e-mail</label>
        </div>
        <div class="controls">
            <input type='text'  name='login' placeholder='Seu login ou e-mail cadastrado'/> <br/>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            <label>Senha</label>
        </div>
        <div class="controls">
            <input type='password'  name='password' placeholder='Sua senha'/> <br/>
        </div>
    </div>
    <div class="header-sign-in-form-submit">
        <div class="control-group pull-left">
            <div class="controls">
                <div class="control-checkbox">
                    <input type='checkbox'  name='remember_me'/>
                    <label class="legend">Mantenha-me conectado</label>
                </div>
            </div>
        </div>
        <input class="button-primary pull-right" type="submit" value="Enviar">
    </div>
</form>