<div class="oer-rating">

    <div class="oer-rating">
        <div class="oer-stars-n-value">
            <ol class="oer-stars">
                <li class="oer-star">
                    <span class="icon-star-full-blue_16_18 show text-replacement">0</span>
                </li>
                <li class="oer-star">
                    <span class="icon-star-full-blue_16_18 show text-replacement">0</span>
                </li>
                <li class="oer-star">
                    <span class="icon-star-full-blue_16_18 show text-replacement">0</span>
                </li>
                <li class="oer-star">
                    <span class="icon-star-full-gray_16_18 show text-replacement">0</span>
                </li>
                <li class="oer-star">
                    <span class="icon-star-full-gray_16_18 show text-replacement">0</span>
                </li>
            </ol>
            <span class="oer-rating-value">3<span class="oer-rating-value-max">/5</span></span>
        </div>

    </div>

    <span class="legend show">
        Classifique este Recurso.
    </span>


</div>
