@(apps: List[models.App])

@for(app <- apps){
    <div class="apps-list-item general-list-item app-item">
        <!--
        <% if favorite_flag %>
        <%= link_to "Remover dos favoritos", user_favorite_path(current_user, App.favorited_by([app], current_user)),
        confirm: "Esta ação irá remover este aplicativo dos seus favoritos. Deseja continuar?", method: :delete,
        class: "general-list-item-close icon-close-gray_16_18 text-replacement" %>
        <% end %>
        -->
        <div class="general-list-item-body">
            <div class="general-list-item-column">
                <a href="@routes.AppController.appPage(app.appName)" title="@app.appName">
                    @if(app.thumbnail == null||app.thumbnail == ""||app.thumbnail=="null"){
                        <img src='@routes.Assets.at("images/missing_apps_medium.png")' alt="@app.appName" title="@app.appName" height="90" width="90" >
                    }else{
                        <img src='@app.thumbnail' alt="@app.appName" title="@app.appName" height="90" width="90" >
                    }
                </a>
            </div>
            <div class="general-list-item-column">
                <h4 class="general-list-item-title">
                    <a href="@routes.AppController.appPage(app.appName)" title="@app.appName" class="general-list-item-title-link text-truncate">@app.appName</a>
                </h4>
                @if(app.level != "none"){
                    <span class="legend">@app.level</span>
                }
                @if(app.area != "none"){
                    <span class="legend">@app.area</span>
                }
                @if(app.author != null && app.author != "" && app.author != "null"){
                    <span class="legend" title="@app.author"><em>Autor:</em> @app.author </span>
                }
                @if(app.language != null && app.language != "" && app.language != "null"){
                    <span class="legend"><em>Língua:</em> @app.language</span>
                }

            </div>
        </div>
        <div class="general-list-item-footer">
            <!--
            <%= render "shared/app_rating_stars", rating: app.reputation_for(:rating).to_i %>
            -->
            <ul class="general-list-item-counters">
                <li class="general-list-item-counter icon-seen-gray_16_18-before">
                    @app.views
                </li>
                <li class="general-list-item-counter icon-comment-gray_16_18-before">
                    @app.commentsCount
                </li>
                <!--
                <% specialized_comments = Comment.get_by_kind(app, :specialized).length %>
                      <% if specialized_comments != 0 %>
            <li class="general-list-item-counter icon-specialist-gray_16_18-before">
              <%= specialized_comments %>
            </li>
          <% end %>
          -->
            </ul>
        </div>
        <!--
        <% if favorite_flag %>
        <button class="button-default" data-toggle="modal-app" data-modal-title="<%= app.name %>" data-modal-subtitle="<%= app.author %>" data-modal-url="<%= app.core_url %>">Abrir</button>
        <% end %>
        -->
    </div>
    <!--
    <% if display_separator(app_counter + 1, total) %>
    <hr>
    <% end %>
    -->
}