@(app: models.App)

@main(app.appName){
<div class="oer-main-wrapper">

    <div class="oer-header clearfix">
        <h3 class="oer-title"> @app.appName </h3>
    </div>

    <div class="oer-body clearfix">
        <!-- Coluna da esquerda. -->
        <div class="oer-left-sidebar">
            <!-- Thumbnail -->
            @if(app.thumbnail == null||app.thumbnail == ""||app.thumbnail=="null"){
            <img src='@routes.Assets.at("images/missing_apps_large.png")' alt="@app.appName" title="@app.appName" class="oer-thumbnail" width="160" height="160" />
            }else{
            <img src='@app.thumbnail' alt="@app.appName" title="@app.appName" class="oer-thumbnail" width="160" height="160" />
            }
            <!-- Área de classificação. -->
            @views.html.app._stars()

            <!-- Contadores. -->
            <ul class="oer-counters">
                <li id="evaluation-count" class="oer-counter legend icon-star-empty-gray_16_18-before">
                    Nenhuma classificação.
                </li>
                <li class="oer-counter legend icon-favorite-gray_16_18-before">
                    Nenhum favorito.
                </li>
                <li class="oer-counter legend icon-seen-gray_16_18-before">
                    @app.views visualizações.
                </li>
                <li class="oer-counter legend icon-comment-gray_16_18-before">
                    @app.comments.size() comentários.
                </li>
            </ul>
        </div>

        <!-- Coluna do meio. -->
        <div class="oer-middle-sidebar">
            <div class="oer-info-n-buttons clearfix">
                <!-- Informações. -->
                <ul class="oer-info">
                    <li class="oer-info-item">
                        <em class="oer-info-key">Autor:</em>
                        <span class="oer-info-value">@app.author</span>
                    </li>

                    <!-- Pra cada categoria -->
                    <li class="oer-info-item">
                        <em class="oer-info-key">Nivel:</em>
                        <span class="oer-info-value">@app.level</span>
                    </li>

                    <li class="oer-info-item">
                        <em class="oer-info-key">Area:</em>
                        <span class="oer-info-value">@app.area</span>
                    </li>


                    <li class="oer-info-item">
                        <em class="oer-info-key">Objetivo:</em>
                        <span class="oer-info-value">@app.objective</span>
                    </li>
                    <li class="oer-info-item">
                        <em class="oer-info-key">Sinopse:</em>
                        <span class="oer-info-value">@app.synopsis</span>
                    </li>
                    <li class="oer-info-item">
                        <em class="oer-info-key">Descrição:</em>
                        <span class="oer-info-value">@app.description</span>
                    </li>
                </ul>

                <!-- Botões. -->
                <div class="oer-buttons">
                    <button class="button-default" data-toggle="modal-app" data-modal-title="@app.appName" data-modal-subtitle="@app.author" data-modal-url="@app.url">Abrir este Recurso</button>
                    <!-- @*
                    <% if can? :create, UserAppAssociation.new(app: @app)   %>
                    <%= form_tag user_favorites_path(current_user), method: "post" do %>
                    <%= hidden_field_tag :app_id , @app.id %>
                    <%= content_tag :button, type: :submit, class: "button-primary" do %>
                    Adicionar a Favoritos
                    <% end %>
                    <% end %>
                    <% end %>
                    <% if can? :checkout, @app %>
                    <%= form_tag app_checkout_path(@app, previous_step: 0), method: :post, remote: true do %>
                    <%= content_tag :button, "Adicionar à Disciplina", type: :submit, class: "button-success" %>
                    <% end %>
                    <% end %>
                    <% if can? :destroy, @favorite %>
                    <%= link_to "Remover dos Favoritos", user_favorite_path(current_user, @favorite), method: "delete", class: "icon-favorite-delete-lightblue_16_18-before", title: "Remover dos Favoritos" %>
                    <% end %>
                    *@ -->
                </div>
            </div>

            <div class="oer-meta-wrapper">
                <ul class="oer-meta meta-data-column-1">
                    <li class="oer-meta-item">
                        <span class="legend"><em>Publicador:</em> @app.publishers </span>
                    </li>
                    <li class="oer-meta-item">
                        <span class="legend"><em>Detentor dos Direitos:</em> @app.copyright</span>
                    </li>
                    <li class="oer-meta-item">
                        <span class="legend"><em>Submetido por:</em> @app.submitter></span>
                    </li>
                </ul>

                <ul class="oer-meta meta-data-column-2">
                    <li class="oer-meta-item">
                        <span class="legend"><em>Classificação:</em> "app.classification"</span>
                    </li>
                    <li class="oer-meta-item">
                        <span class="legend"><em>Língua:</em> @app.language</span>
                    </li>
                    <li class="oer-meta-item">
                        <span class="legend"><em>País de Origem:</em> @app.country</span>
                    </li>
                    <li class="oer-meta-item">
                        <span class="legend"><em>Origem:</em> @app.url</span>
                    </li>
                </ul>
            </div>

            <!-- @*
            <div class="oer-images">
            <% @app.screen_shots.each do |ss| %>
            <%= image_tag ss.screen.url(:unique), alt: "Prévia", title: "Prévia", class: screen_shot_class(@app.screen_shots.length), size: "700x200" %>
            <% end %>
        </div>
        *@ -->
        </div>
    </div>
</div>

<!-- Botões de comentários
<% if can? :create, Comment %>  -->
<div class="content-section oer-comments reply-buttons">
    <ul class="reply-buttons-list">
        <li>
            <button class="button-primary button-big reply-status button-comment icon-comment-white_blue_32_34-before" title="Comentar sobre este aplicativo" onclick="toggle_visibility('comment-form')">Comentar</button>
        </li>
    </ul>

    <div id="comment-form">
        <!-- ###########SECAO DO _form.scala.html #################################-->

        <form method="POST" action="@routes.CommentController.saveNewComment" enctype="multipart/form-data" class="status-tab status-list create-response tab-right">
            <input type="hidden" name="kind" value="common">
            <input type="hidden" name="author" value="user.id">
            <input type="hidden" name="app" value="@app.appName">
            <textarea name="body" rows="6"></textarea>
            <ul class="status-buttons">
                <li>
                    <button type="button" class="button-default cancel" onclick="toggle_visibility('comment-form')">Cancelar</button>
                </li>
                <li>
                    <input type="submit" value="Enviar" class="button-primary"/>
                </li>
            </ul>
        </form>

        <!-- ###########FIM DA SECAO DO _form.scala.html #################################-->
    </div>

</div>

<!-- Comentários comuns. -->

<ol id="comments" class="status-list">
    <!-- while has comments, show every comment - paginate -->
    <!-- ###########SECAO DO _common_comment.scala.html #################################-->

    <li id="comment-comment.commentId">
        <hr class="list-separator">
        <div class="status without-context">
            <div class="subject">
                <a href="link_to_user_who_posted" class="author-thumbnail">
                    <img src='@routes.Assets.at("images/missing_users_medium.png")' alt="comment.author.name" title="comment.author.name" size="64x64"/>
                </a>

                <div class="subject-info">
                    <a href=link_to_user_who_posted" class="link-name">Pedro
                        <span class="action">comentou sobre este aplicativo:</span>
                        <span class="date legend"> 05/02/15 - 22:10 </span>
                    </a>
                </div>
            </div>
            <div class="subject-content">
                <div class="status-content status-tab tab-left">
                    EU NUM TO DOIDO!
                </div>
                <!-- ###########SECAO DO _RESPONSE.scala.html #################################-->
                <ol id="comments-for-comment.commentId" class="comments responses status-tab tab-left">
                    <li class="show-responses">
                        <span class="legend last-responses">Visualizando as últimas respostas...</span>
                        <hr>
                    </li>
                    <!-- ###########SECAO DO _ANSWER.scala.html #################################-->
                    <!-- SHOW EVERY ANSWER -->
                    <li id="comment-answer.answerId">
                        <hr>
                        <div class="response">
                            <a href="link_to_answer_author" class="author-thumbnail">
                                <img src='@routes.Assets.at("images/missing_users_small.png")' alt="comment.author.name" title="comment.author.name" size="32x32"/>
                            </a>
                            <a href=link_to_user_who_posted" class="link-name">Bola
                                <span class="action">respondeu: </span>
                                <span class="date legend"> 05/02/15 - 22:15 </span>
                            </a>
                            <div class="status-content">
                                Mais doido que geodude pulando corda.
                            </div>

                        </div>
                    </li>

                    <li id="comment-answer.answerId2">
                        <hr>
                        <div class="response">

                            <a href="link_to_answer_author" class="author-thumbnail">
                                <img src='@routes.Assets.at("images/missing_users_small.png")' alt="comment.author.name" title="comment.author.name" size="32x32"/>
                            </a>
                            <a href=link_to_user_who_posted" class="link-name">Marcel
                                <span class="action">respondeu: </span>
                                <span class="date legend"> 05/02/15 - 22:16 </span>
                            </a>
                            <div class="status-content">
                                Mais doido que pikachu surfista
                            </div>
                        </div>
                    </li>
                    <!-- END SHOW EVERY ANSWER -->
                    <!-- ###########FIM DA SECAO DO _ANSWER.scala.html #################################-->
                    <li class="show-responses">
                        <div class="show-more">
                            <hr>
                            <span class="see-more link-fake link-secondary">Mostrar todas as respostas</span>
                        </div>
                    </li>
                </ol>
                <!-- ###########FIM DA SECAO DO _RESPONSE.scala.html #################################-->
                <!-- IF CAN COMMENT -->
                <ul class="actions">
                    <li class="reply-status icon-reply-gray_8_10-before" onclick="toggle_visibility('response-form')">
                        <span class="link-fake link-secondary">Responder</span>
                    </li>
                </ul>

                <div id="response-form">
                    <!-- ###########SECAO DO _RESPONSE_FORM.scala.html #################################-->
                    <form method="POST" action="@routes.CommentController.saveNewComment" enctype="multipart/form-data" class="status-tab status-list create-status tab-left">
                        <input type="hidden" name="kind" value="common">
                        <input type="hidden" name="author" value="current_user.id">
                        <input type="hidden" name="comment" value="comment.commentId">
                        <textarea name="body" rows="6"></textarea>
                        <ul class="status-buttons">
                            <li>
                                <button type="button" class="button-default cancel" onclick="toggle_visibility('response-form')">Cancelar</button>
                            </li>
                            <li>
                                <input type="submit" value="Enviar" class="button-primary"/>
                            </li>
                        </ul>
                    </form>
                    <!-- ########### END DA SECAO DO _RESPONSE_FORM.scala.html #################################-->
                </div>

            </div>
        </div>
    </li>
    <!-- ########### END DA SECAO DO _common_comment.scala.html #################################-->
</ol>

<script>
        window.onload=body_load;

        function body_load()
        {
            toggle_visibility('comment-form');
            toggle_visibility('comment-form');
            toggle_visibility('response-form');
            toggle_visibility('response-form');
        }

    </script>
}