@(app: models.App, user: User, userRating: Double, appRating: Double)

@main(app.appName){

<link href='@routes.Assets.at("stylesheets/rateit.css")' rel="stylesheet" type="text/css">
<script src='@routes.Assets.at("javascripts/jquery.rateit.min.js")'> </script>


<div class="oer-main-wrapper">

    <div class="oer-header clearfix">
        <h3 class="oer-title"> @app.appName </h3>
    </div>

    <div class="oer-body clearfix">
        <!-- Coluna da esquerda. -->
        <div class="oer-left-sidebar">
            <!-- Thumbnail -->
            @if(app.thumbnail == null||app.thumbnail == ""||app.thumbnail=="null"){
            <img src='@routes.Assets.at("images/missing_apps_large.png")' alt="@app.appName" title="@app.appName" class="oer-thumbnail" width="160" height="160" />
            }else{
            <img src='@app.thumbnail' alt="@app.appName" title="@app.appName" class="oer-thumbnail" width="160" height="160" />
            }
            <!-- Área de classificação. -->
            <div class="oer-rating">

                <div id="rate" data-rateit-value="@userRating" onclick="rate('@user.email', '@app.appName')" class="rateit" data-rateit-resetable="false">
                </div>
            </div>
            <!-- Contadores. -->
            <ul class="oer-counters">
                <li id="evaluation-count" class="oer-counter legend icon-star-empty-gray_16_18-before">
                    @if(appRating==0){
                        Nenhuma classificação.
                    }else{
                        @appRating
                    }
                </li>
                <li class="oer-counter legend icon-seen-gray_16_18-before">
                    @app.views visualizações.
                </li>
                <li class="oer-counter legend icon-comment-gray_16_18-before">
                    @app.comments.size() comentários.
                </li>
            </ul>
        </div>

        <!-- Coluna do meio. -->
        <div class="oer-middle-sidebar">
            <div class="oer-info-n-buttons clearfix">
                <!-- Informações. -->
                <ul class="oer-info">
                    <li class="oer-info-item">
                        <em class="oer-info-key">Autor:</em>
                        <span class="oer-info-value">@app.author</span>
                    </li>

                    <!-- Pra cada categoria -->
                    <li class="oer-info-item">
                        <em class="oer-info-key">Nivel:</em>
                        <span class="oer-info-value">@app.level</span>
                    </li>

                    <li class="oer-info-item">
                        <em class="oer-info-key">Area:</em>
                        <span class="oer-info-value">@app.area</span>
                    </li>


                    <li class="oer-info-item">
                        <em class="oer-info-key">Objetivo:</em>
                        <span class="oer-info-value">@app.objective</span>
                    </li>
                    <li class="oer-info-item">
                        <em class="oer-info-key">Sinopse:</em>
                        <span class="oer-info-value">@app.synopsis</span>
                    </li>
                    <li class="oer-info-item">
                        <em class="oer-info-key">Descrição:</em>
                        <span class="oer-info-value">@app.description</span>
                    </li>
                </ul>

                <!-- Botões. -->
                <div class="oer-buttons">
                    <button class="button-default" data-toggle="modal-app">Abrir este Recurso</button>
                    <button class="button-default" data-toggle="modal-app">Exportar como xml</button>
                </div>
            </div>

            <div class="oer-meta-wrapper">
                <ul class="oer-meta meta-data-column-1">
                    <li class="oer-meta-item">
                        <span class="legend"><em>Publicador:</em> @app.publishers </span>
                    </li>
                    <li class="oer-meta-item">
                        <span class="legend"><em>Detentor dos Direitos:</em> @app.copyright</span>
                    </li>
                    <li class="oer-meta-item">
                        <span class="legend"><em>Submetido por:</em> @app.submitter</span>
                    </li>
                </ul>

                <ul class="oer-meta meta-data-column-2">
                    <li class="oer-meta-item">
                        <span class="legend"><em>Classificação:</em> @app.classification</span>
                    </li>
                    <li class="oer-meta-item">
                        <span class="legend"><em>Língua:</em> @app.language</span>
                    </li>
                    <li class="oer-meta-item">
                        <span class="legend"><em>País de Origem:</em> @app.country</span>
                    </li>
                    <li class="oer-meta-item">
                        <span class="legend"><em>Origem:</em> @app.url</span>
                    </li>
                </ul>
            </div>
            <div class="oer-images">
                @if(app.screenshot0 != null) {
                <img src="@app.screenshot0"  alt="Previa" title="Previa" class="oer-image-preview oer-image-preview-small" size="700x200"/>
                }
                @if(app.screenshot1 != null) {
                <img src="@app.screenshot1"  alt="Previa" title="Previa" class="oer-image-preview oer-image-preview-small" size="700x200"/>
                }
            </div>
        </div>
    </div>
</div>

<!-- Botões de comentários -->
<div class="content-section oer-comments reply-buttons">
    <ul class="reply-buttons-list">
        <li>
            <button class="button-primary button-big reply-status button-comment icon-comment-white_blue_32_34-before" title="Comentar sobre este aplicativo" onclick='checkUserLoggedInForComment("@user.email")'>Comentar</button>
        </li>
    </ul>

    <div id="comment-form">
        <!-- ###########SECAO DO _form.scala.html #################################-->

        <form method="POST" action="@routes.CommentController.saveNewComment" enctype="multipart/form-data" class="status-tab status-list create-response tab-right">
            <input type="hidden" name="kind" value="common">
            <input type="hidden" name="author" value="mscreboucas@@gmail.com">
            <input type="hidden" name="app" value="@app.appName">
            <textarea name="body" rows="6"></textarea>
            <ul class="status-buttons">
                <li>
                    <button type="button" class="button-default cancel" onclick="toggle_visibility('comment-form')">Cancelar</button>
                </li>
                <li>
                    <input type="submit" value="Enviar" class="button-primary"/>
                </li>
            </ul>
        </form>

        <!-- ###########FIM DA SECAO DO _form.scala.html #################################-->
    </div>

</div>

<!-- Comentários comuns. -->

<ol id="comments" class="status-list">
    <!-- ###########SECAO DO _common_comment.scala.html #################################-->

    @if(app.comments.isEmpty) {
    <!-- SEJA O PRIMEIRO A COMENTAR -->


    }else{

        @for(comment <- app.comments) {
            <li id="comment-@comment.getCommentId()">
                <hr class="list-separator">
                <div class="status without-context">
                    <div class="subject">
                        <a href="link_to_user_who_posted" class="author-thumbnail">
                            <img src='@routes.Assets.at("images/missing_users_medium.png")' alt="@comment.getAuthor().getFirstName() @comment.getAuthor().getLastName()"
                                 title="@comment.getAuthor().getFirstName() @comment.getAuthor().getLastName()" size="64x64"/>
                        </a>

                        <div class="subject-info">
                            <a href=link_to_user_who_posted" class="link-name">@comment.getAuthor().getFirstName() @comment.getAuthor().getLastName() </a>
                                <span class="action">comentou sobre este aplicativo:</span>
                                <span class="date legend"> @comment.getPostedTime </span>

                        </div>
                    </div>
                    <div class="subject-content">
                        <div class="status-content status-tab tab-left">
                            @comment.getBody()
                        </div>
                        <!-- ###########SECAO DO _RESPONSE.scala.html #################################-->
                        @if(!comment.getAnswers().isEmpty){
                        <ol id="comments-for-@comment.getCommentId()" class="comments responses status-tab tab-left">
                            <li class="show-responses">
                                <span class="legend last-responses">Visualizando as últimas respostas...</span>
                                <hr>
                            </li>

                            @for(answer <- comment.getAnswers()) {
                                <!-- ###########SECAO DO _ANSWER.scala.html #################################-->
                                <!-- SHOW EVERY ANSWER -->
                                <li id="comment-@answer.getAnswerId()">
                                    <hr>
                                    <div class="response">
                                        <a href="link_to_answer_author" class="author-thumbnail">
                                            <img src='@routes.Assets.at("images/missing_users_small.png")' alt="@answer.getAuthor().getFirstName() @answer.getAuthor().getLastName()"
                                                 title="@answer.getAuthor().getFirstName() @answer.getAuthor().getLastName()" size="32x32"/>
                                        </a>
                                        <a href=link_to_user_who_posted" class="link-name">@answer.getAuthor().getFirstName() @answer.getAuthor().getLastName()</a>
                                            <span class="action">respondeu: </span>
                                            <span class="date legend"> 05/02/15 - 22:15 </span>

                                        <div class="status-content">
                                            @answer.getBody()
                                        </div>

                                    </div>
                                </li>
                            }
                            <!-- END SHOW EVERY ANSWER -->
                            <!-- ###########FIM DA SECAO DO _ANSWER.scala.html #################################-->
                            <li class="show-responses">
                                <div class="show-more">
                                    <hr>
                                    <span class="see-more link-fake link-secondary">Mostrar todas as respostas</span>
                                </div>
                            </li>
                        </ol>
                        }
                        <!-- ###########FIM DA SECAO DO _RESPONSE.scala.html #################################-->
                        <!-- IF CAN COMMENT -->
                        <ul class="actions">
                            <li class="reply-status icon-reply-gray_8_10-before" onclick="checkUserLoggedInForAnswer('@user.email','response-form-@comment.getCommentId()')">
                                <span class="link-fake link-secondary">Responder</span>
                            </li>
                        </ul>

                        <div id="response-form-@comment.getCommentId()" class="response-form-class">
                            <!-- ###########SECAO DO _RESPONSE_FORM.scala.html #################################-->
                            <form method="POST" action="@routes.CommentController.saveNewAnswer" enctype="multipart/form-data" class="status-tab status-list create-status tab-left">
                                <input type="hidden" name="kind" value="common">
                                <input type="hidden" name="author" value="@user.email">
                                <input type="hidden" name="comment" value="@comment.getCommentId()">
                                <textarea name="body" rows="6"></textarea>
                                <ul class="status-buttons">
                                    <li>
                                        <button type="button" class="button-default cancel" onclick="toggle_visibility('response-form-@comment.getCommentId()')">Cancelar</button>
                                    </li>
                                    <li>
                                        <input type="submit" value="Enviar" class="button-primary"/>
                                    </li>
                                </ul>
                            </form>
                            <!-- ########### END DA SECAO DO _RESPONSE_FORM.scala.html #################################-->
                        </div>

                    </div>
                </div>
            </li>
        }

    <!-- SE TEM COMENTARIOS -->

    }
    <!-- ########### END DA SECAO DO _common_comment.scala.html #################################-->
</ol>

<script>
        window.onload=body_load;

        function body_load()
        {
            toggle_visibility('comment-form');
            toggle_visibility('comment-form');
            var responses = document.getElementsByClassName("response-form-class");
            for (var i = 0; i < responses.length; i++){
                toggle_visibility(responses[i].id);
                toggle_visibility(responses[i].id);
            }
        }

    function rate(email, appName) {
        var ratingValue = $("#rate").rateit('value');
        if (email == "") {
            alert("Você precisa estar logado para votar");
            $("#rate").rateit('reset');
        } else {

            var data = {"r": ratingValue, "u": email, "a": appName};

            $.ajax({
                url: "@routes.AppController.rateApp()",
                type: "POST",
                data: data,
                success: function (res) {
                    alert("Voto Registrado");
                }
            });
        }
    }

    function checkUserLoggedInForComment(email){
        if(email==null||email==""){
            alert("Você precisa estar logado para comentar");
        } else {
            toggle_visibility('comment-form');
        }
    }

    function checkUserLoggedInForAnswer(email, tagId){
        if(email==null||email==""){
            alert("Você precisa estar logado para responder");
        } else {
            toggle_visibility(tagId);
        }
    }

    </script>
}(user)
