@(levels: List[String], user: User)

@main("Redu Apps"){

    <div class="apps-portal-oer">
        <div class="apps-portal-oer-explaination" style='background: url("@routes.Assets.at("images/oer-logo.png")") no-repeat'>
            <span class="apps-portal-oer-close icon-close-gray_16_18 text-replacement" onclick="$(this ).parent( ).parent().hide()">Fechar</span>
            <h3 class="apps-portal-oer-explaination-title">O que são R.E.A.s?</h3>
            <p>Recursos Educacionais Abertos são <em>materiais</em> de ensino, aprendizado e pesquisa em qualquer suporte ou mídia, que estão sob domínio público, ou estão licenciados de maneira aberta, permitindo que sejam utilizados ou adaptados por terceiros. O uso de formatos técnicos abertos facilita o acesso e o reuso potencial dos recursos publicados digitalmente. Recursos Educacionais Abertos podem incluir cursos completos, partes de cursos, módulos, livros didáticos, artigos de pesquisa, vídeos, testes, software, e qualquer outra ferramenta, material ou técnica que possa apoiar o acesso ao conhecimento. (<a href="http://rea.net.br/site/o-que-e-rea/" title="UNESCO/Comunidade REA Brasil">UNESCO/Comunidade REA Brasil</a>)</p>
        </div>
    </div>

    <div>
        @for(level <- levels){
            <button class="button-default level-filter" type="button" value="@level"> @level </button>
        }

        <form method="get" action="#" class="form-search area-fix form-search-expandable apps-portal-search-form">
            <input id="search-input" type="text" class="control-area area-infix" placeholder="Procure Aplicativos..." data-id="apps-portal-breadcrumb">
            <button id="search-btn" class="button-default area-suffix" type="button">
                <span class="control-search-icon icon-magnifier-gray_16_18 text-replacement">Busca</span>
            </button>
        </form>

    </div>

    <div class="oer-apps-wrapper">
        <!-- conteudo dos apps -->
        <div id="apps" class="apps-list"> </div>
    </div>

    <script>

        var startBy = 0;
        var searchByLevel = false;
        var levelQuery = "";
        var nameQuery = "";

        var loading = false;

        $(document).ready(searchApps());

        $('body').on('keypress','#search-input', function(e) {
            var code = e.keyCode || e.which;
            if(code == 13) {
                startBy = 0;
                searchByLevel = false;
                nameQuery = $(this).val();
                searchApps();
            }
        });

        $('body').on('click','#search-btn', function(e) {
            startBy = 0;
            searchByLevel = false;
            nameQuery = $('#search-input').val();
            searchApps();
        });

        $('body').on('click','.level-filter', function(e) {
            startBy = 0;
            searchByLevel = true;
            levelQuery = e.currentTarget.value;
            searchApps();
        });

        $(window).scroll(function(){
            if($(window).scrollTop() == $(document).height() - $(window).height()){
                var lastElement = $("#apps .app-item:last");
                if (lastElement.length>0){
                    if (!loading){
                        loading = true;
                        searchApps();
                    }
                }
            }
        });

        function searchApps(){
            var query;
            var field = "";
            if (searchByLevel) {
                query = levelQuery;
                field = "level"
            } else {
                query = $('#search-input').val();
            }
            var data;
            if (query != null && query.length>0){
                data = {"s":startBy, "q":query, "f":field};
            } else {
                data = {"s":startBy, "f":field};
            }
            $.ajax({
                url: "@routes.AppController.searchApps()",
                type: "GET",
                data: data,
                success: function (res){
                    if (startBy == 0) {
                        $("#apps").html(res);
                    } else {
                        $("#apps").append(res);
                    }
                },
                complete: function(){
                    loading = false;
                    startBy += 12;
                }
            });
        }

    </script>
}(user)