@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/bootstrap-redu.css")'>
    <script type="text/javascript" src="/assets/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/assets/javascripts/bootstrap-redu.js"></script>
</head>
<body>

    <!-- Header -->

    <div class="header-not-logged-in">
        <div class="container">
            <div class="header-logo-wrapper">
                <a title="Redu" href="#" class="header-logo sprite-logo">
                    <h1 class="text-replacement" title="Redu">Redu</h1>
                </a>
                <div class="header-logo-title-wrapper">
                    <h2 class="header-logo-title">Você ainda não se identificou no Redu.</h2>
                    <span class="header-logo-legend legend">Entre com sua conta para acessar seus cursos, aulas e amigos.</span>
                </div>
            </div>
            <div class="header-buttons">
                <div class="header-button-sign-up">
                    <span class="icon-add-friend-darkgray_32_34 text-replacement">Cadastrar</span>
                    <a href="#" class="button-big button-success pull-right">Não possui conta? Cadastre-se, é grátis </a>
                </div>
                <div class="header-button-sign-in">
                    <span class="icon-profile-darkgray_32_34 text-replacement">Entrar</span>
                    <div class="button-group dropdown pull-right">
                        <button class="button-big button-primary dropdown-toggle" data-toggle="dropdown">Entre no Redu</button>
                        <span class="dropdown-arrow icon-arrow-up-dropdown-lightblue_20_8 text-replacement">Seta</span>
                        <div class="dropdown-menu">
                            @views.html.shared._dropdown_sign_in()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT -->

    <div class="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="span16">
                    <div class="apps-portal-header">

                        @* <div id="apps-portal-breadcrumb" class="breadcrumb-mini-wrapper">
                        <%= render_navigation context: :breadcrumbs %>
                    </div>*@

                    </div>
                    <div class="apps-portal-content content-body">
                        @content
                    </div>
                    <div class="breadcrumb-mini-wrapper">
                        <br/>
                        @*<%= render_navigation context: :breadcrumbs %>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-pusher"></div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="footer-logo-wrapper">
                        <a href="http://tech.redu.com.br/" class="footer-logo-link">
                            <h1 class="footer-logo-img sprite-logo-redu-tech-footer text-replacement">Redu Educational Technologies</h1>
                        </a>
                        <span class="footer-cnpj">CNPJ: 12.359.885 / 0001-07</span>
                    </div>
                </div>
                <div class="span3">
                    <ul class="footer-navigation">
                        <li>
                            <!--Pagina do Redu-->
                            <a href="#" class="landing-scroll">Sobre o Redu</a>
                        </li>
                        <li>
                            <!--Segmentos do Redu-->
                            <a href="#" class="landing-scroll">Segmentos</a>
                        </li>
                        <li>
                            <!--Vantagens do Redu-->
                            <a href="#" class="landing-scroll">Vantagens</a>
                        </li>
                        <li>
                            <!--Funcionalidades do Redu-->
                            <a href="#" class="landing-scroll">Funcionalidades</a>
                        </li>
                        <li>
                            <!--Planos do Redu-->
                            <a href="#" class="landing-scroll">Planos</a>
                        </li>
                    </ul>
                </div>
                <div class="span3">
                    <ul class="footer-navigation">
                        <li>
                            <!--Blog do Redu-->
                            <a href="http://blog.redu.com.br/" class="landing-scroll">Blog</a>
                        </li>
                        <li>
                            <!--Desenvolvedores do Redu-->
                            <a href="http://developers.redu.com.br/" class="landing-scroll">Desenvolvedores</a>
                        </li>
                        <li>
                            <!--Política de Privacidade do Redu-->
                            <a href="#modal-privacy-policy" data-toggle="modal">Política de Privacidade</a>
                        </li>
                        <li>
                            <!--Termos de Uso do Redu-->
                            <a href="#modal-tos"  data-toggle="modal">Termos de Uso</a>
                        </li>
                    </ul>

                    @views.html.shared._modal_tos()
                    @views.html.shared._modal_privacy_policy()

                </div>
                <div class="span3">
                    <div class="footer-social-networks-legend">
                        <span class="legend">Siga-nos na web</span>
                    </div>
                    <div class="footer-social-networks">
                        <!--Redu no Facebook-->
                        <a href="https://www.facebook.com/redesocialeducacional" class="footer-social-network sprite-social-facebook text-replacement">Facebook</a>
                        <!--Redu no Twitter-->
                        <a href="http://twitter.com/redu_ead" class="footer-social-network sprite-social-twitter text-replacement">Twitter</a>
                    </div>
                </div>
                <div class="span3">
                    <div class="footer-contact link-container">
                        <div class="row">
                            <div class="span2">
                                <h3>
                                    <!--Contato Redu-->
                                    <a href="#" class="link-target">Fale Conosco</a>
                                </h3>
                                <p class="legend">Dúvidas? Nosso suporte online pode lhe ajudar</p>
                            </div>
                            <div class="span1 alpha-half">
                                <span class="footer-talk-to-us-balloons sprite-talk-to-us text-replacement" title="Fale Conosco">Fale conosco</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>