@(levels: List[String], areas: List[String], app: models.App, user: User)

@main("New App"){

    <form method="POST" class="new-app-form" action="@routes.AppController.parseXML" enctype="multipart/form-data">
        <h3>Adicione um xml (opcional)</h3>

        <input type='file'  id="app-xml" name='app-xml' value=''/><br/><br/>
        <input type="submit" value="Importar XML">
    </form>

    <form method="POST" class="new-app-form" action="@routes.AppController.saveNewApp" enctype="multipart/form-data">

        <h3>Preencha os campos e salve o novo app</h3> <br/>

        <label>Nível:</label>
        <select name="app-level">
            <option value="none">Selecione um Nível</option>
            @for(lv <- levels) {
            <option value="@lv">@lv</option>
            }
        </select><br/><br/>

        <label>Área:</label>
        <select name="app-area">
            <option value="none">Selecione uma Área</option>
            @for(area <- areas) {
            <option value="@area">@area</option>
            }
        </select><br/><br/>

        <label>Name:</label>

        <input type='text'  name='app-name' value='@app.appName'/> <br/><br/>

        <label>thumbnail:</label>

        <input type='file'  name='app-thumbnail' value='@app.thumbnail'/> <br/><br/>

        <label>Screenshots:</label>

        @if(app.screenshots!=null){
            @if(app.screenshots.length>2){
                <input type='file'  name='app-screenshot0' value='@app.screenshots(0)'/> <br/>
                <input type='file'  name='app-screenshot1' value='@app.screenshots(1)'/> <br/>
                <input type='file'  name='app-screenshot2' value='@app.screenshots(2)'/> <br/>
            }else{
                @if(app.screenshots.length>1){
                    <input type='file'  name='app-screenshot0' value='@app.screenshots(0)'/> <br/>
                    <input type='file'  name='app-screenshot1' value='@app.screenshots(1)'/> <br/>
                    <input type='file'  name='app-screenshot2' value=''/> <br/>
                }else{
                    @if(app.screenshots.length>0){
                        <input type='file'  name='app-screenshot0' value='@app.screenshots(0)'/> <br/>
                        <input type='file'  name='app-screenshot1' value=''/> <br/>
                        <input type='file'  name='app-screenshot2' value=''/> <br/>
                    }else{
                        <input type='file'  name='app-screenshot0' value=''/> <br/>
                        <input type='file'  name='app-screenshot1' value=''/> <br/>
                        <input type='file'  name='app-screenshot2' value=''/> <br/>
                    }
                }
            }
        }else{
            <input type='file'  name='app-screenshot0' value=''/> <br/>
            <input type='file'  name='app-screenshot1' value=''/> <br/>
            <input type='file'  name='app-screenshot2' value=''/> <br/>
        }

        </br>
        <label>url:</label>

        <input type='text'  name='app-url' value='@app.url'/> <br/><br/>

        <label>language:</label>

        <input type='text'  name='app-language' value='@app.language'/> <br/><br/>

        <label>objective:</label>

        <input type='text'  name='app-objective' value='@app.objective'/> <br/><br/>

        <label>synopsis:</label>

        <input type='text'  name='app-synopsis' value='@app.synopsis'/> <br/><br/>

        <label>description:</label>

        <input type='text'  name='app-description' value='@app.description'/> <br/><br/>

        <label>publishers:</label>

        <input type='text'  name='app-publishers' value='@app.publishers'/> <br/><br/>

        <label>copyright:</label>

        <input type='text'  name='app-copyright' value='@app.copyright'/> <br/> <br/>

        <label>country:</label>

        <input type='text'  name='app-country' value='@app.country'/> <br/> <br/>

        <label>author:</label>

        <input type='text'  name='app-author' value='@app.author'/> <br/> <br/>

        <label>classification:</label>

        <input type='text'  name='app-classification' value='@app.classification'/> <br/> <br/>

        <input type="submit" value="Submit">
    </form>

}(user)