@(levels: List[String], areas: List[String])

    <form method="POST" class="new-app-form" action="@routes.AppController.saveNewApp" enctype="multipart/form-data">
        <select name="app-level">
            <option value="none">Selecione um Nível</option>
            @for(lv <- levels) {
            <option value="@lv">@lv</option>
            }
        </select><br/><br/>

        <select name="app-area">
            <option value="none">Selecione uma Área</option>
            @for(area <- areas) {
            <option value="@area">@area</option>
            }
        </select><br/><br/>

        <label>Name:</label>

        <input type='text'  name='app-name' value=''/> <br/><br/>

        <label>thumbnail:</label>

        <input type='file'  name='app-thumbnail' value=''/> <br/><br/>

        <label>url:</label>

        <input type='text'  name='app-url' value=''/> <br/><br/>

        <label>language:</label>

        <input type='text'  name='app-language' value=''/> <br/><br/>

        <label>objective:</label>

        <input type='text'  name='app-objective' value=''/> <br/><br/>

        <label>synopsis:</label>

        <input type='text'  name='app-synopsis' value=''/> <br/><br/>

        <label>description:</label>

        <input type='text'  name='app-description' value=''/> <br/><br/>

        <label>publishers:</label>

        <input type='text'  name='app-publishers' value=''/> <br/><br/>

        <label>submitters:</label>

        <input type='text'  name='app-submitters' value=''/> <br/><br/>

        <label>copyright:</label>

        <input type='text'  name='app-copyright' value=''/> <br/> <br/>

        <label>country:</label>

        <input type='text'  name='app-country' value=''/> <br/> <br/>

        <label>author:</label>

        <input type='text'  name='app-author' value=''/> <br/> <br/>

        <label>classification:</label>

        <input type='text'  name='app-classification' value=''/> <br/> <br/>

        <input id="buttonForm" type="submit" value="Submit">
    </form>
